/*----------LOAD DEFAULT FONTS----------*/
@font-face {
    font-family: Nunito-Regular;
    src: url('static/Nunito-Regular.ttf'); 
	font-display: swap;
  }
  
  @font-face {
    font-family: Nunito-Bold;
    src: url('static/Nunito-Bold.ttf'); 
	font-display: swap;
  }
  
  @font-face {
    font-family: Nunito-Medium;
    src: url('static/Nunito-Medium.ttf'); 
	font-display: swap;
  }
  
  @font-face {
    font-family: Nunito-Bold;
    src: url('static/Nunito-Bold.ttf'); 
	font-display: swap;
  }

  @font-face {
    font-family: Nunito-Italic;
    src: url('static/Nunito-Italic.ttf'); 
	font-display: swap;
  }

  @font-face {
	font-family: Planet;
	src: url('static/planetn2cyr_lat.otf');
	font-display: swap;
  }

p {
	font-family: Nunito-Regular;
}

.lead {
	font-family: Nunito-Italic;
}

body, html {
	height: 100%;
	font-family: Nunito-Regular, sans-serif;
    margin: 0;
	scroll-behavior: smooth;
	background: linear-gradient(45deg, rgba(0,0,0,0) 80%, rgba(160, 63, 251, 0.1) 90%, rgba(249, 49, 139, 0.2) 100%);
	background-repeat: no-repeat;

}

main {
	min-height: 90%;
}

.font-planet {
	font-family: Planet;
}

a {
	font-family: Nunito-Regular;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0px;
    font-family: Nunito-Medium;
}

.card {
	transition: 0.2s all;
	background-color: inherit;
	border: inherit;
}
.card:hover{
	transform: translateY(-10px);
}

.reveal{
	position: relative;
	transform: rotate3d(1, 1, 1, 45deg);
	opacity: 0;
	transition: 1s all ease;
  }
  
  .reveal.active{
	transform: rotate3d(0, 0, 0, 0deg);
	opacity: 1;
  }
