<a class="flex justify-center col-md-4" onclick="window.open('https://discord.com/api/oauth2/authorize?client_id=1094893876164169829&scope=bot+applications.commands&permissions=540371968&guild_id={{ server.get('id') }}&disable_guild_select=true', 'Пригласить на сервер {{ server.get('name') }}', 'width=400,height=800')" id="card" >
    <div class="card lg:w-[300px] bg-base-100 shadow-xl">
      <img class="rounded-lg aspect-square" src="https://cdn.discordapp.com/icons/{{ server.get('id') }}/{{ server.get('icon') }}?size=1024" onerror="this.src='https://mir-s3-cdn-cf.behance.net/project_modules/disp/a11a4893658133.5e98adbead405.gif'" alt="{{ server.get('name') }}"/>
      <div class="absolute inset-0 bg-black bg-opacity-75 rounded-lg flex items-center justify-center opacity-0 hover:opacity-100 hover:backdrop-blur-lg text-white ease-out duration-200">
        <div class="card-body">
          <h2 class="card-title text-ellipsis overflow-hidden">
            {{ server.get('name') }}
          </h2>
        </div>
      </div>
    </div>
  </a>