<dialog class="modal" id="edit">
    <form method="dialog" class="modal-box">
      <div class="modal-content bg-body">
          <h1 class="font-bold text-lg" id="EditModalLabel">Изменить плейлист</h1>
          <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label class="label">
                <span> Название</span>
              </label>
              <input name="title" class="input input-bordered w-full" id="Title" placeholder="Мой плейлист" aria-labelledby="CoverHelpBlock" value="{{ playlist.get('title') }}">
              <label class="label">
                <span class="label-text-alt">Название плейлиста</span>
              </label>
            </div>
            <div class="mb-3">
              <label class="label">
                <span> Ссылка на обложку</span>
              </label>
              <input name="thumbnail" class="input input-bordered w-full" id="Thumbnail" placeholder="https://example.com/cover.png" aria-labelledby="CoverHelpBlock" value="{{ playlist.get('thumbnail', '') }}">
              <label class="label">
                <span class="label-text-alt">Ссылка должна вести на картинку с окончанием на .png, .jpg или .gif</span>
              </label>
            </div>
            <div class="mb-3">
              <label class="label">
                <span> Публичный</span>
              </label>
              <label>
                <input type="checkbox" name="public" id="Public" class="toggle toggle-primary" {{ 'checked' | safe if playlist.get('public') else '' }}/>
              </label>
            </div>
            <div class="mb-3">
              <label class="label">
                <span>Описание плейлиста</span>
              </label>
              <textarea name="description" class="textarea textarea-bordered textarea-md w-full" id="Description" rows="3" aria-labelledby="NotesHelpBlock">{{ playlist.get('description') }}</textarea>
              <label class="label">
                <span class="label-text-alt">Поддерживает форматирование в markdown</span>
              </label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline btn-light" onclick="apiplaylists.edit('{{ playlist.uuid }}')">Изменить</button>
        </div>
      </div>
    </form>
  </dialog>