git+https://github.com/DisnakeDev/disnake.git@feature/components-v2#egg=disnake
beanie
motor
pymongo
pydantic
pydantic_settings
websockets
requests
requests-oauthlib
colorama
ytmusicapi
redis
hypercorn
pyfiglet
spotipy