<!doctype html>
{% include 'components/head.html' %}

{% include 'components/navbar.html' %}

<body>

<main class="drawer-content">
<div class="hero min-h-[60vh] bg-base-200">
  <div class="hero-content flex-col lg:flex-row">
    <img src="https://cataas.com/cat?type=square&width=300" class="lg:max-w-sm rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold">Записи в MongoDB</h1>
      <div class="py-6">
      </div>
    </div>
  </div>
</div>

<div class="divider"></div>
<div class="flex justify-center">
  <div class="md:container">
  <table class="table bg-base-200 rounded-xl">
    <!-- head -->
    <tbody>
      {% for value in values %}
      <div class="mockup-code">
        {% for line in value %}
        <pre><code>{{ line }}</code></pre>
        {% endfor %}
      </div>
      {% endfor %}
    </tbody>
    <!-- foot -->
  </table>
  </div>
</div>
<br>

</main>
</body>
{% include 'components/footer.html' %}
</html>