<!doctype html>
{% include 'components/head.html' %}

{% include 'components/navbar.html' %}

<style>
</style>


<body>
  <main class="drawer-content">
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
      <div class="">
        <h1 class="text-5xl font-planet">500 Downtown</h1>
        <p class="py-6">Похоже, эта страница содержит ошибку. Если вам не сложно, сообщите это на сервер поддержки discord!</p>
      </div>
    </div>
  </div>
</main>
</body>


{% include 'components/footer.html' %}
</div>
</body>

</html>
