<!doctype html>
{% include 'components/head.html' %}

{% include 'components/navbar.html' %}
<body>
<main class="drawer-content">
    <div class="pt-52 pb-28" >
      <div class="flex justify-center">
        <div class="flex lg:flex-row flex-col justify-between lg:w-3/5 w-full">
          <div class="flex flex-row gap-2 items-center justify-center">
              {# <img class="user_avatar rounded-full w-12" src="https://cdn.discordapp.com/avatars/{{ session['me'].get('id') }}/{{ session['me'].get('avatar') }}"/> #}
            <p class="text-4xl font-bold font-planet">{{ session['me'].get('username') }}</p>
            {% if user and user.role %}
            <div class="tooltip" data-tip="{{ user.role }}">
              <span class="material-symbols-outlined">
                verified
              </span>
            </div>
            {% endif %}
          </div>
          <div class="prose text-center mx-10">{{ user.description if user.description else '' }}</div>
          <div class="flex flex-row gap-1 items-center justify-center">
            <a class="btn btn-sm rounded-full btn-accent"  onclick="edit.showModal()">Изменить</a>
            <a class="btn btn-sm rounded-full btn-error" href="/logout">Выйти</a>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-28 bg-base-200">
      <div class="flex justify-center">
        <div class="lg:w-3/5 w-full">
          <p class="text-base-content/50 text-sm">Последние 5 треков (доступно только вам)</p>
          <p class="text-4xl font-bold">История добавлений</p>
          {% if fastpicks %}
          <table class="table bg-base-200 rounded-xl">
            <!-- head -->
            <tbody>
              {% for track in fastpicks %}
              {% set post_loop = loop %}
              {% include 'components/track.html' %}
              {% endfor %}
              
            </tbody>
            <!-- foot -->
          </table>
          {% else %}
          <div class="py-4 self-center">
            <p class="text-2xl">Добавляйте треки в очередь, и они появятся здесь!</p>
              <p class="text-base-content/50">Сервер поддержки доступен <a class="link" href="https://discord.gg/ua4kpgzpWJ">здесь</a></p>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="pt-20 bg-base-200">
      <div class="flex justify-center">
          <div class="lg:w-3/5 w-full">
            <p class="text-base-content/50 text-sm">Последние 4 добавленных</p>
            <p class="text-4xl font-bold">Плейлисты</p>
            {% if playlists %}
            <div class="album py-5 bg-body-tertiary">
              <div class="justify-center">
                <div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-3 py-4">
                  {% for playlist in playlists %}
                  {% include 'components/card_playlist.html' %}
                  {% endfor %}          
                </div>
              </div>
            </div>
              {% else %}
              <div class="py-4 self-center">
                <p class="text-2xl">Добавляйте плейлисты, и они появятся здесь!</p>
                  <p class="text-base-content/50">Как создать или добавить плейлист читайте <a class="link" href="https://docs.noirplayer.su">здесь</a></p>
              </div>
              {% endif %}
          </div>
    </div>
    </div>
    {% if servers %}
    <div class="t-20 bg-base-200">
      <div class="flex justify-center">
          <div class="lg:w-3/5 w-full">
            <p class="text-base-content/50 text-sm">Последние 4 без бота</p>
            <p class="text-4xl font-bold">Добавить</p>
            <div class="album py-5 bg-body-tertiary">
              <div class="justify-center">
                {% if servers %}
                <div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-3 py-4">
                {% for server in servers %}
                {% include 'components/card_server_add.html' %}
                {% endfor %}
                {% endif %}
                </div>
          
              </div>
            </div>
          </div>
      </div>
    </div>
    {% endif %}

    <dialog class="modal" id="edit">
      <div class="modal-box">
        <div class="modal-content bg-body">
          <h1 class="font-bold text-lg" id="EditModalLabel">Изменить профиль</h1>
          <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" onclick="edit.close()">✕</button>
            <div class="modal-body">
                <div class="mb-5">
                  <label class="label">
                    <span> Описание</span>
                  </label>
                  <div class="join w-full">
                    <input class="input input-bordered w-full join-item" id="InputDescription" value="{{ user.description if user.description else '' }}">
                    <div class="join-item"><label tabindex="0" class="btn btn-primary rounded-r-lg rounded-none" onclick="setDescription(document.getElementById('InputDescription').value)"><span class="material-symbols-outlined">save</span></label></div>
                  </div>
                  <label class="label">
                    <span class="label-text-alt">Описание профиля</span>
                  </label>
                </div>
                <div class="mb-5">
                  <label class="label">
                    <span>Тема в браузере</span>
                  </label>
                    <ul tabindex="0">
                      <li><input onclick="setTheme(this.value)" type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Default" value="default"/></li>
                      <li><input onclick="setTheme(this.value)" type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Retro" value="retro"/></li>
                      <li><input onclick="setTheme(this.value)" type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Cyberpunk" value="cyberpunk"/></li>
                      <li><input onclick="setTheme(this.value)" type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Valentine" value="valentine"/></li>
                      <li><input onclick="setTheme(this.value)" type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Aqua" value="aqua"/></li>
                      <li><input onclick="setTheme(this.value)" type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Cupcake" value="cupcake"/></li>
                      <li><input onclick="setTheme(this.value)" type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Bumblebee" value="bumblebee"/></li>
                      <li><input onclick="setTheme(this.value)" type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Emerald" value="emerald"/></li>
                      <li><input onclick="setTheme(this.value)" type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Dim" value="dim"/></li>
                      <li><input onclick="setTheme(this.value)" type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Nord" value="nord"/></li>
                      <li><input onclick="setTheme(this.value)" type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Winter" value="winter"/></li>
                      <li><input onclick="setTheme(this.value)" type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Sunset" value="sunset"/></li>
                      <li><input onclick="setTheme(this.value)" type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Pastel" value="pastel"/></li>
                      <li><input onclick="setTheme(this.value)" type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Dracula" value="dracula"/></li>
                      <li><input onclick="setTheme(this.value)" type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Halloween" value="halloween"/></li>
                      <li><input onclick="setTheme(this.value)" type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Lofi" value="lofi"/></li>
                      <li><input onclick="setTheme(this.value)" type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Synthwave" value="synthwave"/></li>
                      <li><input onclick="setTheme(this.value)" type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Black" value="black"/></li>
                    </ul>
                </div>
            </div>
          </div>
      </div>
      </dialog>
    




</main>
</body>
{# include 'components/toast.html' #}
{% include 'components/footer.html' %}
</html>