<!doctype html>
{% include 'components/head.html' %}

{% include 'components/navbar.html' %}

<body>

<main class="drawer-content">
<div class="hero min-h-[60vh]">
  <div class="hero-content flex-col">
      <h1 class="text-5xl font-bold">Текущая очередь <span class="loading loading-ring loading-lg"></span></h1>
      <div class="py-6 items-center">
        <button class="btn btn-neutral rounded-xl" onclick="player.recs()">
          Сгенерировать
          <span class="material-symbols-outlined">
            blur_on
            </span>
        </button>
        <button class="btn btn-error rounded-xl" onclick="player.clear()">
            Очистить
            <span class="material-symbols-outlined">
            texture_minus
            </span>
          </button>
      </div>
  </div>
</div>

<div class="divider divider-primary">
  <div class="dropdown" id="search_dropdown">
    <div class="join my-4">
      <input type="text" placeholder="Что хочешь послушать?" class="join-item input input-bordered input-sm w-80" id="search_input" onchange="listen_tracks(this.value, document.getElementById('search_list'))"/>
      <button class="join-item btn rounded-l-lg btn-primary btn-sm no-animation"><code>enter</code></button>
    </div>
    <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-200 rounded-box w-80" id="search_list">
    </ul>
  </div>
</div>
<div class="flex justify-center">
  <div class="md:container">
  <table class="table bg-base-200 rounded-xl">
    <!-- head -->
    <tbody id="tracks_table" class="tracks_container">
      {% for track in tracks %}
      {% set post_loop = loop %}
      {% include 'components/queue_track.html' %}
      {% endfor %}
    </tbody>
    <!-- foot -->
  </table>
  </div>
</div>
<br>

</main>
</body>
{% include 'components/footer.html' %}
</html>