<!doctype html>
{% include 'components/head.html' %}

{% include 'components/navbar.html' %}

<body>

<main class="drawer-content">


  <div>

    <div class="relative isolate overflow-hidden bg-base-200 py-24 sm:py-32">
      <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
        
      </div>
      <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
        
      </div>
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0">
          <h2 class="text-4xl font-bold tracking-tight sm:text-6xl">Ваши сервера</h2>
          <p class="mt-6 text-lg leading-8">Настройте свои сервера или добавьте <code class="font-planet">Noir</code> на них.</p>
          <p class="mb-6 text-lg leading-8">Не отображается сервер? <a href="/update?redirect=/me/servers" class="link">Кликните здесь</a></p>
        </div>
      </div>
    </div>
  
    <div class="album py-5 bg-body-tertiary">
      <div class="justify-center">
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-3">
          {% if servers and servers.get('same') %}
          {% for server in servers.get('same', []) %}
          {% include 'components/card_server.html' %}
          {% endfor %}
          {% endif %}
        </div>
        {% if servers and servers.get('other') %}
        <div class="divider divider-primary text-3xl font-bold">Добавить на сервер</div>
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-3">
        {% for server in servers.get('other', []) %}
        {% include 'components/card_server_add.html' %}
          {% endfor %}
          {% endif %}
        </div>
  
      </div>
    </div>
    
  </div>


</main>
</body>
{% include 'components/footer.html' %}
</html>