<!doctype html>
{% include 'components/head.html' %}

{% include 'components/navbar.html' %}

<body>

<main class="drawer-content">

  <!-- <div class="row d-flex my-4 g-3">
    <div class="col-md-6 align-self-end my-4">
      <h1 class="display-4">Настройка серверов</h1>
      <p class="-75">Настройте здесь свои сервера, не прибегая к <code>/setup</code></p>
      <br>
      <div class="col-8">
        
      </div>
    </div>
    </div> -->
    <div class="relative isolate overflow-hidden bg-base-200 py-24 sm:py-32">
      <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
        
      </div>
      <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
        
      </div>
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0">
          <h2 class="text-4xl font-bold tracking-tight  sm:text-6xl">Настройка серверов</h2>
          <p class="mt-6 text-lg leading-8 ">Настройте здесь свои сервера, не прибегая к <code>/setup</code></p>
  
        </div>
        
      </div>
    </div>
    <!-- <div class="container-lg px-4 py-4 shadow rounded-3">
      <form class="row g-3" action="/me/setup" method="POST">
        <div class="col-4">
          <select class="form-select" id="serverSelect" name="server" aria-label="Select">
            <option selected>Выберите сервер...</option>
            {% for server in servers %}
              <option value="{{ server.get('id') }}">{{ server.get('name') }}</option>
            {% endfor %}
          </select>
        </div>
          <div class="divider"></div>
        <h5 class="-75">Выберите, кто сможет пользоваться Shoko</h5>
        <div class="col-md-4"> 
          <input class="form-control" placeholder="Id ролей для управления..." name="roles" id="Roles">
        </div>
        <div class="divider"></div>
        <h5 class="-75">Id вебхука, используемого Shoko</h5>
        <div class="col-md-4">
          <input type="text" class="form-control text-dark" placeholder="Id вебхука..." name="hook" id="Hook">
        </div>
        <div class="divider"></div>
          <h5 class="-75">Цвет эмбеда плеера</h5>
          <div class="col-md-12">
          <input type="color" class="form-control form-control-color" id="Color" name="color" title="Choose color">
        </div>
        <div class="divider"></div>
        <h5 class="-75">Будет ли Noir Player оставаться в войсе при неактивности</h5>
        <div class="col-12">
          <div class="form-check form-switch">
            <input class="form-check-input bg-light" type="checkbox" name="check" id="Check">
            <label class="form-check-label" for="Check">
              Режим 24/7
            </label>
          </div>
        </div>
        <div class="divider"></div>
        <div class="col-12">
          <button type="submit" class="btn btn-outline-light rounded-xl">Сохранить</button>
        </div>
      </form>
    </div> -->
    <div class="container-lg px-4 py-4 shadow rounded-3">
      <form class="grid grid-cols-1 gap-4" action="/me/setup" method="POST">
        <div>
          <select class="select select-bordered w-full max-w-xs" id="serverSelect" name="server" aria-label="Select">
            <option selected>Выберите сервер...</option>
            {% for server in servers %}
              <option value="{{ server.get('id') }}">{{ server.get('name') }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="divider divider-primary">Кто сможет пользоваться Noir Player</div>
        <div>
          <input class="input input-bordered w-full max-w-xs" placeholder="Id ролей для управления..." name="roles" id="Roles">
        </div>
        <div class="divider divider-primary">Id вебхука, используемого Noir Player</div>
        <div>
          <input type="text" class="input input-bordered w-full max-w-xs" placeholder="Id вебхука..." name="hook" id="Hook">
        </div>
        <div class="divider divider-primary">Цвет эмбеда плеера</div>
        <div>
          <input type="color" class="form-control form-control-color" id="Color" name="color" title="Choose color">
        </div>
        <div class="divider divider-primary">Режим 24/7</div>
        <!-- <div>
          <div class="form-switch">
            <input class="form-switch-input" type="checkbox" name="check" id="Check">
            <label class="form-switch-label" for="Check">
              Режим 24/7
            </label>
          </div>
        </div> -->
        <label>
          <input type="checkbox" class="toggle toggle-primary"  name="check" id="Check"/>
        </label>
        <div class="divider divider-primary"></div>
        <div>
          <button type="submit" class="btn btn-outline btn-light">Сохранить</button>
        </div>
      </form>
    </div>



<script>

  let servers

  fetch('/api/guilds')
  .then(response => response.json())
  .then(data => {
    servers = data;
    console.log(servers);
  })
  .catch(error => {
    console.log('Произошла ошибка при получении списка guilds:', error);
  });

  const serverSelect = document.getElementById('serverSelect');

  const Roles = document.getElementById('Roles');
  const Hook  = document.getElementById('Hook');
  const Color = document.getElementById('Color');
  const Check = document.getElementById('Check');

  serverSelect.addEventListener('change', function() {
    const selectedServer = serverSelect.value;
    
    let server = servers.find(item => item.id == selectedServer);

      server = server['settings'];

      try {
      Roles.value = server['roles'].join(', ');
      } catch {Roles.value = '';};
      try {
      Hook.value  = server['webhook'];
    } catch {Hook.value = '';};
      try {
      Color.value = `#${server['color']}`;
    } catch {Color.value = '';};
      try {
      Check.value = server['radio'];
    } catch {Check.value = false;};
  });
  
</script>

</main>
</body>
{% include 'components/footer.html' %}
</html>