<!doctype html>
{% include 'components/head.html' %}

{% include 'components/navbar.html' %}

<style>
</style>


<body>
    <main class="drawer-content">
  <div class="contaner min-h-screen p-5 mb-4 rounded-3">
                            <div class="row mb-4">
                                <div class="col">
                                    <h4><strong>Условия использования</strong></h4>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col">
                                    <h5>1. Общие положения</h5>
                                    <div class="descr">Пользуясь веб-сайтом Noir Player https://shoko-player.space, https://noirplayer.su и данным ботом Discord, Вы соглашаетесь соблюдать настоящие условия использования, условия использования Discord, все применимые законы и регламенты, а также соглашаетесь с тем, что несёте полную ответственность за соблюдение местного законодательства. Если Вы не согласны с каким-либо из этих условий, Вам запрещается использование данного сайта и связанных с ним ресурсов. Содержащиеся на этом сайте материалы защищены действующим законодательством об авторском праве и товарных знаках.</div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col">
                                    <h5>2. Авторское право</h5>
                                    <div class="ol">
                                        <div class="li">Все права и материалы (информация или ПО) разрешены для некоммерческого просмотра. Принимая Условия использования, вы не можете:</div>
                                        <div class="li">Копировать и модифицировать материалы;</div>
                                        <div class="li">Использовать материалы в коммерческих целях.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col">
                                    <h5>3. Отказ от ответственности</h5>
                                    <div class="ol">
                                        <div class="li">Noir Player не несет никакой ответственности в случае нанесении материального или/и морального ущерба со стороны;</div>
                                        <div class="li">Noir Player не предоставляет никаких гарантий за возможный ущерб вашему Discord серверу в результате неправильной настройки;</div>
                                        <div class="li">Вы используете Noir Player на свой страх и риск.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col">
                                    <h5>4. Материалы, связанные с Noir Player</h5>
                                    <div class="ol">
                                        <div class="li">Noir Player не несет ответственности за материалы, распространенные на этом сайте или посредством бота Noir Player;</div>
                                        <div class="li">Noir Player может изменять материалы на сайте и/или в без предварительного уведомления;</div>
                                        <div class="li">Наличие того или иного контента во вложениях/на сайте не подразумевает одобрение Noir Player.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col">
                                    <h5>5. Регулирующее законодательство</h5>
                                    <div class="ol">
                                        <div class="li">Данные условия использования регулируются и толкуются в соответствии с законодательством Российской Федерации и Вы безоговорочно подчиняетесь законодательству и исключительной юрисдикции судов этого государства.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col">
                                    <h5>6. Условия использования и размещения плейлистов</h5>
                                    <div class="ol">
                                        <div class="li">Noir Player не несет ответственности за контент, находящийся в плейлисте;</div>
                                        <div class="li">Плейлисты не должны содержать ссылки, нецензурную лексику, оскорбления, nsfw контент и символы, ломающие отображение;</div>
                                        <div class="li">Запрещено размещать элементы, изменяющие функционал сайта;</div>
                                        <div class="li">Вы несете ответственность за контент, размещенный в плейлисте;</div>
                                        <div class="li">Noir Player оставляет за собой право удалять любой плейлист без объяснения причин.</div>
                                    </div>
                                </div>
                            </div>
        </div>
    </main>
</body>



</div>
</body>
{% include 'components/footer.html' %}
</html>

        